{% extends 'foodies/base.html' %}

{% load static %}

{% block title_block %}
    About Foodies   
{% endblock %}

{% block body_block %}
<div class="container"> 
    <h1 class="mb-5">About Foodies!</h1>

	<div class="row"> 
		<div class="col-sm-6"> 
			<p>Founded in 2020 by four entrepreneurs, Foodies is a start-up company operating in the United Kingdom. Headquartered in Glasgow, we employ a team of 4 talented employees.</p>
		</div>
		<div class="col-sm-6"> 
			<div class="background-image cover about1"></div>
		</div>
		<div class="col-sm-6 mt-4"> 
			<div class="background-image cover about2"></div>
		</div>
		<div class="col-sm-6 mt-4"> 
			<p>Foodies aims to be a world leader in online and mobile food ordering, providing customers with an easy way to order food from our individual partners. We use our technology to make food discovery exciting and make home-cooked meals available to everyone. We aim to bring together thousands of customers  with thousands of individual cookers, serving a diverse range of cuisine types, thus creating the world's greatest food community.</p> 
		</div>	
		<div class="col-sm-12 mt-4"> 
			<p class="text-center">It is all about offering home-made food with friendly prices.</p>
			<p class="text-center">Visits: {{ visits }}</p>
		</div>
	</div>
</div>
  
{% endblock %}