{% extends 'foodies/user_profile_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_block %}
   Add review
{% endblock %}

{% block profile_block %}

<div class="container"> 
	<div class="col-sm-10 offset-sm-1">
		<div>
			{% for message in messages %}
			<div class="alert alert-danger">
				<a class="close" href="#" data-dismiss="alert">×</a>
				{{ message }}
			</div>
			{% endfor %}
		</div>
		<form id="add_meal_form" method="post" action="{% url action_url request_id %}" enctype="multipart/form-data">
			{% csrf_token %}
			{{ review_form | crispy }}
			<a class="btn btn-danger" href="{% url 'foodies:user_requests' %}">Cancel</a>
			<input class="btn btn-primary" type="submit" name="submit" value="Add Review" />
		</form>
	</div>
</div>

{% endblock %}