{% extends 'foodies/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
<div class="container"> 
    {% if category %}
    <h1>{{ category.name }}</h1>
    
     <strong>Select a meal to add in the basket</strong>
    {% if meals %}
    <ul>
        {% for meal in meals %}
        <li><a href="{{ meal.url }}">{{ meal.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>No meals currently in meal category.</strong>
    {% endif %}

    {% else %}
    The specified meal category does not exist.
    {% endif %}
</div>
{% endblock %} 