{% extends 'foodies/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
<div class="container"> 
    {% if category %}
    <h1>{{ category.name }}</h1>
    
     <strong>View the below meals and make a meal request</strong>
    {% if meals %}
    <ul>
        {% for meal in meals %}
        <li><a href="{{ meal.url }}">{{ meal.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>No meals currently in meal category.</strong>
    {% endif %}

    {% else %}
    The specified meal category does not exist.
    {% endif %}
    
    <i class="fas fa-utensils">
        <a href="{% url 'foodies:request/' %}">Request a meal</a>
        </i>
        
</div>


   
{% endblock %} 