<!-- displaying the categories used throughout the website -->

{% extends 'foodies/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
<div class="container"> 
    {% if category %}
    <h1 class="kaushan text-center">{{ category.name }}</h1>
    
    {% if meals %}
    <div class="row">
        <div class="col-sm-12 mt-5">
            <div class="row">
                {% for meal in meals %}
                <div class="col-sm-4 mb-4">
					<a class="d-block text-decoration-none" href="/meal/{{ meal.id }}">
						<div class="viewed_meals" style="background-image:url({{ MEDIA_URL }}{{ meal.picture }});"></div>
						<p class="text-center">{{ meal.title }}</p>
					</a>
				</div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <strong>No meals currently in meal category.</strong>
    {% endif %}

    {% else %}
    The specified meal category does not exist.
    {% endif %}
 
</div>


   
{% endblock %} 