{% load static %}

<header>
	<div class="container">
		<!--Navbar-->
		<nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1">

			<div class="row">
				<div class="col-4">
					<!-- Navbar brand -->
					<a class="navbar-brand" href="{% url 'foodies:index' %}"><img
						class="w-50" src="{% static 'foodies/images/logo2.png' %}" /></a>

					<!-- Collapse button -->
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#basicExampleNav" aria-controls="basicExampleNav"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
				<div class="col-8">
					<!-- Collapsible content -->
					<div class="collapse navbar-collapse" id="basicExampleNav">

						<!-- Links -->
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active"><a
								class="nav-link {% if request.path == '/' %} active {% endif %}"
								href="{% url 'foodies:index' %}">Home <span class="sr-only">(current)</span></a>
							</li> {% if user.is_authenticated %}
							<li class="nav-item"><a class="nav-link"
								href="{% url 'foodies:logout' %}">Logout</a></li>
							<li class="nav-item"><a
								class="nav-link {% if request.path == '/user-profile/' %} active {% endif %}"
								href="{% url 'foodies:user_profile' %}">User Profile</a></li> 
								{% else%}
							<li class="nav-item"><a
								class="nav-link {% if request.path == '/register/' %} active {% endif %}"
								href="{% url 'foodies:register' %}">Sign Up</a></li>
							<li class="nav-item"><a
								class="nav-link {% if request.path == '/login/' %} active {% endif %}"
								href="{% url 'foodies:login' %}">Login</a></li> 
								{% endif %}
							<li class="nav-item"><a
								class="nav-link {% if request.path == '/about/' %} active {% endif %}"
								href="{% url 'foodies:about' %}">About Us</a></li>
							<li class="nav-item"><a
								class="nav-link {% if request.path == '/contact-us/' %} active {% endif %}"
								href="{% url 'foodies:contact_us' %}">Contact Us</a></li>
							<div class="md-form my-0">
								<li class="nav-item ">
									<div>
										<form class="form-inline" id="user-form" method="post"
											action="{% url 'foodies:search' %}">
											{% csrf_token %}
											<div class="form-group">
												<input class="form-control" type="text" size="50"
													name="query" id="query" value="{{ query }}" />
											</div>
											<button class="btn btn-primary" type="submit" name="submit">Search</button>
										</form>
									</div>
								</li>
							</div>
						</ul>
					</div>
				</div>
		</nav>
		<!--/.Navbar-->
	</div>
</header>