
{% extends 'foodies/base.html' %}

{% load staticfiles %}


{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}

<h1>Foodies</h1>

<div>
    {% if user.is_authenticated %}
        Welcome back! {{ user.username }}!
    {% else %}
       Welcome food lover!
    {% endif %}
    <br />
    <strong>{{ boldmessage }}</strong><br />
</div>

<div class="icon-bar">
  <a class="active" href="#"><i class="fa fa-home"></i></a>
  <a href="#"><i class="fa fa-search"></i></a>
  <a href="#"><i class="fa fa-shopping-cart"></i></a>
  <a href="#"><i class="fa fa-google-plus-square"></i></a>
  <a href="#"><i class="fa fa-unlock"></i></a>
</div>


<div>
    <h2>Most Liked Meal Categories</h2>
{% if categories %}
    <ul>
    {% for category in categories %}
        <li><a href="{% url 'foodies:show_category' category.slug %}">{{ category.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <strong>There are no meal categories present.</strong>
{% endif %}
</div>

<div>
    <h2>Most Viewed Meals</h2>
{% if meals %}
    <ul>
    {% for meal in meals %}
        <li><a href="{{ meal.url }}">{{ meal.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <strong>There are no meals present.</strong>
{% endif %}
</div>



{% endblock %}