{% extends 'foodies/user_profile_base.html' %} 
{% load static %} 

{%block title_block %} 
User Meals 
{% endblock %} 

{% block profile_block %}

	<div class="card">
		<div class="card-header" id="headingOne">
			<button class="btn btn-primary mb-0">
				<i class="fas fa-utensils"> <a href="{% url 'foodies:add_meal' %}">  Add a new meal</a></i>
			</button>
		</div>
	</div>
	
	<div class="user_meals_list">
		<ul class="list-group">
			{% for row in meals_info %}
			<li class="list-group-item">
				<div class="row w-100 d-flex align-items-center">
					<div class="col-sm-3">
						<div class="meal_picture background-image cover d-inline-block w-100" style="background-image:url({{ MEDIA_URL }}{{ row.picture }});"></div>
					</div>
					<div class="col-sm-6">
						<h3 class="mb-1"><strong class="kaushan">{{ row.title }}</strong></h3>
						<p class="mb-1"><strong>Price: </strong>{{ row.price }}</p>
						<p class="mb-1"><strong>Category: </strong>{{ row.category }}</p>
						<p class="mb-1"><strong>Ingredients: </strong>{{ row.ingredients }}</p>
						<p class="mb-1"><strong>recipe: </strong>{{ row.recipe }}</p>
					</div>
					<div class="col-sm-3">
						<a class="btn btn-success" href="{% url 'foodies:edit_meal' row.id %}">Edit</a>
						<a class="btn btn-danger" href="{% url 'foodies:delete_meal' row.id %}">Delete</a>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>

{% endblock %}
