{% extends 'foodies/user_profile_base.html' %}
{% load static %}
{% load foodies_template_tags %}

{% block title_block %} 
    User Meals 
{% endblock %} 

{% block profile_block %}

<div class="accordion" id="accordionExample">
    <!-- header -->
    <div class="card">
    	<h3 class="mb-0">
    	<i class="fas fa-utensils"><a href="{% url 'foodies:request_meal' %}">Request a meal</a></i>
    	</h3>
    </div>
    <!-- / header -->
    <ul class="list-group">
        {% for row in requests_array %}
        <li class="list-group-item">
            <div class="row w-100 d-flex align-items-center">
                <div class="col-sm-6">
                    <h3 class="mb-1"><strong>Client: </strong>{{ row.name }}</h3>
                    <p class="mb-1"><strong>email: </strong>{{ row.email }}</p>
                    <p class="mb-1"><strong>Content: </strong>{{ row.content }}</p>
                    <p class="mb-1"><strong>Message: </strong>{{ row.message }}</p>
                    <p class="mb-1"><strong>recipe: </strong>{{ row.recipe }}</p>
                </div>
                <div class="col-sm-3">
                    
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
