{% extends 'foodies/user_profile_base.html' %} 
{% load static %} 

{%block title_block %} 
User Meals 
{% endblock %} 

{% block profile_block %}

	<div class="card">
		<div class="card-header" id="headingOne">
			<h3 class="mb-0"><i class="fas fa-utensils"> <a href="{% url 'foodies:add_meal' %}">  Add a new meal</a></i></h3>
		</div>
	</div>
	
	<div class="user_meals_list">
		<ul class="list-group">
			{% for row in meals_info %}
			<li class="list-group-item">
				<div class="d-flex align-items-center">
					<a href="{% url 'foodies:edit_meal' row.id %}"><div class="meal_picture background-image cover d-inline-block" style="background-image:url({{ MEDIA_URL }}{{ row.picture }});"></div></a>
					<h3 class="ml-2"><a href="{% url 'foodies:edit_meal' row.id %}">{{ row.title }}</a></h3>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	
</div>

{% endblock %}
