{% extends 'foodies/base.html' %}
{% load staticfiles %}

{% block title_block %}
    User Profile
{% endblock %}

{% block body_block %}
<h1>{{ profile_title }}</h1>

<section class="container">
    <section class="row mt-3">
        <div class="col-sm-3">
            <a class="list-group-item list-group-item-action {% if request.path == '/user-profile/' %} active {% endif %}" href="{% url 'foodies:user_profile' %}" aria-controls="home">User Profile</a>
            <a class="list-group-item list-group-item-action {% if request.path == '/user-profile/meals/' %} active {% endif %}" href="{% url 'foodies:user_meals' %}" aria-controls="profile">Meals</a>
            <a class="list-group-item list-group-item-action {% if request.path == '/user-profile/requests/' %} active {% endif %}" href="{% url 'foodies:user_requests' %}" aria-controls="requests">Requests</a>
        </div>
        <div class="col-sm-9">
            {% block profile_block %}
            {% endblock %}
        </div>
    </section>
</section>
{% endblock %}
        