{% extends 'foodies/base.html' %}

{% load static %}

{% block title_block %}
    About Foodies   
{% endblock %}

{% block body_block %}
<section class="container">
<div class="col-sm-8">
<div class="emp-profile mt-9">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                {% if user_info.picture %}
                <img src="{{ MEDIA_URL }}{{ user_info.picture }}" alt=""/>
                {% else %}
                <img src="{% static '/foodies/images/user-default.png' %}" alt=""/>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5 id="user-name">{{ user_info.name }}</h5>
                {% if user_info.isCooker == 1 %}
                <h6>Cooker</h6>
                {% endif %}
                {% if user_info.isDinner == 1 %}
                <h6>Diner</h6>
                {% endif %}
                <p class="proile-rating">RANKINGS : <span>8/10</span></p>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12 mb-3">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="meal-tab" data-toggle="tab" href="#meal" role="tab" aria-controls="meal" aria-selected="false">Meals</a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ user_info.email }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Address</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ user_info.address }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Personal Description</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ user_info.personalDescription }}</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>User Reviews</label>
                    </div>
                </div>
            </div>
              <div class="tab-pane fade" id="meal" role="tabpanel" aria-labelledby="meal-tab">
                        <div class="row w-1000 d-flex align-items-center">
                         		<div class="user_meals_list">
									<ul class="list-group">
									{% for row in user_meals %}
										<li class="list-group-item">
												<div class="col-sm-6	">
													<div class="meal_picture background-image cover d-inline-block w-100" style="background-image:url({{ MEDIA_URL }}{{ row.picture }});"></div>
												</div>
											<div class="col-sm-6">
												<h3 class="mb-1"><strong>Title: </strong>{{ row.title }}</h3>
												<p class="mb-1"><strong>Price: </strong>{{ row.price }}</p>
												<p class="mb-1"><strong>Category: </strong>{{ row.category }}</p>
												<p class="mb-1"><strong>Ingredients: </strong>{{ row.ingredients }}</p>
												<p class="mb-1"><strong>recipe: </strong>{{ row.recipe }}</p>
												{% if user.is_authenticated %}   
    												<i class="fas fa-utensils">
        												<a href="{% url 'foodies:request_meal' %}">Request a meal</a>
        											</i>
 												{% endif %} 
											</div>
										</li>
									{% endfor %}
									</ul>
								</div>
                   			</div>
            		</div>
          		</div>
    		</div>
		</div>
	</div>
</div>
</section>
{% endblock %}
