{% extends 'foodies/base.html' %}
{% load staticfiles %}

{% block title_block %}
    User Profile
{% endblock %}

{% block body_block %}
<h1>User Profile</h1>
        
<section class="row">
    <aside class="col-sm-3 profile-menu">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="home">User Profile</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-meals" role="tab" aria-controls="profile">Meals</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-requests" role="tab" aria-controls="profile">Requests</a>
        </div>
    </aside>
    <div class="col-sm-9">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-profile" role="tabpanel" aria-labelledby="list-home-list">
        		{% include 'foodies/user_profile.html' %}        
            </div>
            <div class="tab-pane fade" id="list-meals" role="tabpanel" aria-labelledby="list-profile-list">
        		{% include 'foodies/user_meals.html' %}
            </div>
            <div class="tab-pane fade" id="list-requests" role="tabpanel" aria-labelledby="list-profile-list">
        		{% include 'foodies/user_requests.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
        