{% extends 'foodies/user_profile_base.html' %}
{% load static %}
{% load foodies_template_tags %}

{% block title_block %} 
    User Meals 
{% endblock %} 

{% block profile_block %}

<div class="accordion" id="accordionExample">
    <!-- header -->
    <div class="card">
    	<i class="fas fa-utensils"><a href="{% url 'foodies:request_meal' %}">Request a meal</a></i>
    </div>
    <!-- / header -->

    {% for each_request in requests_array %}
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0"><button class="btn btn-link" type="button" data-toggle="collapse" data-target="#each_request.title" aria-expanded="true" aria-controls="collapseOne">Previous meal #1</button></h2>
        </div>
        <div id="each_request.title" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">Date: {{ each_request.date }}</div>
            <div class="card-body">Name: {{ each_request.name }}</div>
            <div class="card-body">Email: {{ each_request.email }}</div>
            <div class="card-body">Content: {{ each_request.content }}</div>
            <div class="card-body">Message: {{ each_request.message }}</div>
            <div class="card-body">Dinner: {{ each_request.dinner }}</div>
            <div class="card-body">Cooker: {{ each_request.cooker }}</div>
            <a class="btn btn-danger" href="{% url 'foodies:delete_meal' each_request.id %}">Delete</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
