{% extends 'foodies/user_profile_base.html' %} 
{% load static %} 

{%block title_block %} 
User Meals 
{% endblock %} 

{% block profile_block %}

	<div class="card">
	<div class="card-header" id="headingOne">
			<h3 class="mb-0">
		<i class="fas fa-utensils"> <a href="{% url 'foodies:add_meal' %}">  Add a new meal</a>
		</i>
		</h3>
	</div>
	
	
	
	<div class="card">
		<div class="card-header" id="headingOne">

 				{% csrf_token %} 			
            	{% for row in meals_info %}
            		<div class="text-right">
								<small><a href="{% url 'foodies:add_meal' %}"> Edit/Delete Meal</a></small>
								</div>
            		<div class="row">
            			<div class="text-left">
							<h3>Meal: {{ row.title }} </h3>
								
          				  	<h6>Category: {{ row.category }}</h6> 
          				  	
           					<h6>URL: {{ row.url }} </h6> 
            				<h6>Price: {{ row.price }}</h6> 
            				<h6>Views: {{ row.views }}</h6> 
            			</div>
           			 </div>
      
            
            {% endfor %}   
        	
		
		</div>
	</div>


	
</div>

{% endblock %}
