/*
 * Styles for Foodies webpage
 */
 
.aboutStyle
{
background-image:url('../images/aboutback.jpg');
background-repeat:no-repeat;
background-size:cover;
height:500px;
width: 100%;
  -o-background-size: cover;

}
