/*
 * Styles for Foodies webpage
 */
 
h1 {
	color:#cc0000;
	text-align: center;
}

body {
	font-family: "Times New Roman";
	background-color: #fff5e6;
}

header .navbar-dark .navbar-nav .active>.nav-link, 
header .navbar-dark .navbar-nav .nav-link,
header .navbar-dark .navbar-nav .nav-link.active, 
header .navbar-dark .navbar-nav .nav-link.show, 
header .navbar-dark .navbar-nav .show>.nav-link,
header .navbar-dark .navbar-brand {
	color:#cc0000;
}

