/*
 * Styles for Foodies webpage
 */

 @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
	font-family: 'Lato', sans-serif;
}


h1 {
	color:#cc0000;
}

header .navbar-dark .navbar-nav .active>.nav-link, 
header .navbar-dark .navbar-nav .nav-link,
header .navbar-dark .navbar-nav .nav-link.active, 
header .navbar-dark .navbar-nav .nav-link.show, 
header .navbar-dark .navbar-nav .show>.nav-link,
header .navbar-dark .navbar-brand {
	color:#cc0000;
}

.navbar-dark .navbar-nav .nav-link:focus, 
.navbar-dark .navbar-nav .nav-link:hover {
	color:#cc0000 !important;
	font-weight: bolder;
}

.footer {
	background-color: #484848 !important;
	color: #fff !important;
	opacity: 1;
}

.background-image {
	background-repeat: no-repeat;
	background-position: center;
}

.cover {
	background-size: cover;
}

#search button {
	top: 0;
	right: 0;
}