/* Style the header */
.header {
  grid-area: header;
  background-color:#fff0b3;
  padding: 30px;
  text-align: center;
 	font-size: 35px;
  
}

.kaushan {
  font-family: 'Kaushan Script', cursive
}

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left middle middle middle middle right' 
    'footer footer footer footer footer footer';
  	 grid-column-gap: 10px;
} 

.left,
.middle,
.right {
  padding: 10px;

}

/* Style the left column */
.left {
  grid-area: left;

}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */
.right {
  grid-area: right;
}

/* Style the grid-line */
.grid-line{
  border: 1px solid black;
  height: 999px;
}

/* Style the footer */
.footer {
  grid-area: footer;
  background-color: #fff5e6;
  padding: 10px;
  text-align: center;
}

/* Style of the most viewed meals  */
.viewed_meals {	
	background-repeat: no-repeat;
	background-size: cover;
  background-position: center;
  padding: 60px 0 60px 0;
}

.viewed_meals p {
  background-color: rgba(0,0,0, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}

.hero {
  min-height: 450px;
  background-attachment: fixed;
  background-image: url('../images/hero-photo.jpg');
}

.black-screen {
  background-color: rgba(0,0,0, 0.5);
}

.random-color {
  padding: 50px;
}

.random-color:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

.random-color .bg {
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: 1;
}

.random-color a {
  z-index: 2;
}

#best-cookers .picture {
  min-height: 200px;
  min-width: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}