/* Style the header */
.header {
  grid-area: header;
  background-color:#fff0b3;
  padding: 30px;
  text-align: center;
 	font-size: 35px;
  
}

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left middle middle middle middle right' 
    'footer footer footer footer footer footer';
  	 grid-column-gap: 10px;
} 

.left,
.middle,
.right {
  padding: 10px;

}

/* Style the left column */
.left {
  grid-area: left;

}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */
.right {
  grid-area: right;
}

/* Style the grid-line */
.grid-line{
  border: 1px solid black;
  height: 999px;
}

/* Style the footer */
.footer {
  grid-area: footer;
  background-color: #fff5e6;
  padding: 10px;
  text-align: center;
}

/* Style of the most viewed meals  */
.viewed_meals 
{	
	background-image:url('../images/spring_rolls.jpg');
	background-repeat:no-repeat;
	background-size:50%;
	height:100px;
}